.text-animate {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.1s;
  animation-fill-mode: forwards;

  &-hover {
    display: inline-block;
    transition: color 0.3s ease-out;
    animation: rubberBand 1s;
    animation-fill-mode: forwards;

    &:hover {
      //color: #ffd700;
      color: #73cca8;
    }
  }
}

.space {
  display: inline-block;
  visibility: hidden;
}

h3 {
  .space {
    width: 6.5px;
  }
}

p {
  .space {
    width: 3.5px;
  }
}
// 1-15 creates 1.5s delay for name
@for $i from 1 to 319 {
  .text-animate._#{$i} {
    animation-delay: #{$i / 50}s;
    user-select: none;
  }
}
