.animated {
  max-width: 200px;
  opacity: 0;
}

.enter {
  animation-name: enter;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(1, 0.2, 0.8, 1.2);
  animation-duration: 0.425s;
  animation-delay: 7s;
}

.exit {
  animation-name: exit;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-duration: 0.425s;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes exit {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(250px, 0, 0);
  }
}

.social {
  opacity: 0;
}

.enterLeft {
  animation-name: enterLeft;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.05, 0.65, 0.18, 1);
  animation-duration: 425ms;
}

.exitLeft {
  animation-name: exitLeft;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.05, 0.65, 0.18, 1);
  animation-duration: 0.425s;
}

@keyframes enterLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes exitLeft {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.next {
  opacity: 0;
  height: 100%;
}

.menu {
  opacity: 0;
}

.ribbon {
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0;
  width: 200px;
  height: 200px;
  z-index: 9;
}

.enterNext {
  animation-name: enterNext;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.05, 0.65, 0.18, 1);
  animation-duration: 425ms;
}

.exitNext {
  animation-name: exitNext;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.05, 0.65, 0.18, 1);
  animation-duration: 0.425s;
}

@keyframes enterNext {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes exitNext {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

/* Transition group styled */

/* fade left */
.left .fade-enter,
.right .fade-enter {
  z-index: 2;
}
.left .fade-exit,
.right .fade-exit {
  z-index: 1;
}

.left .fade-enter {
  transform: translate3d(100%, 0, 0);
}

.right .fade-enter {
  transform: translate3d(-100%, 0, 0);
}

.left .fade-enter.fade-enter-active,
.right .fade-enter.fade-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 0.6s ease-out 0.4s;
}

.left .fade-exit,
.right .fade-exit {
  transform: translate3d(0, 0, 0) rotateY(0) scale(1);
}

.left .fade-exit.fade-exit-active {
  transform: translate3d(-45%, 0, -10px) rotateY(-40deg) scale(0.5);
  transition: all 0.6s ease-out 0.4s;
}
.right .fade-exit.fade-exit-active {
  transform: translate3d(45%, 0, -10px) rotateY(40deg) scale(0.5);
  transition: all 0.6s ease-out 0.4s;
}
